body {
  margin: 0;
  background: url("../images/background.jpg");
  font-family: 'Comfortaa';
  font-size: 20px;
  color: #808080;
}

.container{
  max-width: 1300px;
  background-color: #fff;

}


/* over ride bootstrap defaults */
/* .btn-primary {
  color: #fff;
  background-color: #008000;
  border-color: #008000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #008000;
  border-color: #008000;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #008000;
  border-color: #008000;
} */

.pull-right{
  float: right;
  margin-right:10px ;
}
.col.logo_section {
  margin: 18px;
}

.logo_section img{
  float: left;
}

.site_title {
  font-size: 35px;
  padding: 0;
  margin: 0;
  color: darkgreen;
  text-align: center;
  text-shadow: 3px 3px 5px green;
}

.call_info_section  {
  margin-top: 18px;
}
.call_info_section {
  float: left;
  color: gray;
}

.nav_bar {
  margin-top: 18px;
  height: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("../images/menu.png");
}

.nav_bar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav_bar ul li {
  line-height: 68px;
  float: left;
  color: white;
  width: 187px;
  /* padding-top: 10px; */
  text-align: center;
}

.nav_bar ul li:hover {
  background-color: lightgrey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 1s;
  cursor: hand;
}



#content {
  background-color: lightgreen;
}

footer {
  margin: 40px;
  height: 100px;
  align-items: center;
}

.swiper-container{
  height: 350px;
} 
.swiper-wrapper > .swiper-slide > img{
  height: 100%;
  width: 100%;
  display: block;
} 